@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Header related styles */

.banner-title {
    font-family: 'Merriweather', serif;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding: 177px 531px 0px 525px;
}

.banner-greeting {
    font-family: 'Merriweather', serif;
    color: #fff;
    text-align: center;
    font-size: 72px;
    font-weight: 900px;
    margin: 16px 344px 177px;
}

.banner-photo {
    background-image:linear-gradient(#070211, #07021100), url(../images/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    display: grid;
    place-items: center;
    border-radius: 16px;
    margin: auto;
}

/* #body related styles */

/* container-1 related styles */
.container-1 {
    font-family: 'Inter', sans-serif;
    display: grid;
    place-items: center;
}

.sixtyfive {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 0;
}

.holiday {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 0;
}

.category {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}

.happynewyear {
    margin-top: 48px;
    margin-bottom: 120px;
    width: 802.9px;
    height: 500px;
}

/* container-2 related styles */
.container-2 {
    background-image:linear-gradient(to right, #070211, #07021100), url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px; 
    margin: auto;
    border-radius: 16px;
}

.midnightparty {
    color: #FFF;
    font-family:'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    width: 642px;
    height: 176px; 
    padding-top: 126px;
    padding-left: 126px;
    margin-bottom: 0;
}

.midnightparty-info {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    width: 697px;
    height: 80px;
    padding-left: 126px;
}

.midjoin{
    color: #FFF;
    font-family:'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    background-color: transparent;
    padding-left: 158px;
    margin-top: 48px;
}

.newyear {
    float: right;
    padding-top: 68.11px;
    padding-right: 138px;
}

.container-3 {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 100px 386px 214px 386px;
    background-size: 1320px 482px;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
}

.texts {
    text-align: center;
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    padding-top: 100px;
    line-height: 35px;
}

.container-3-btn {
    border: none;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    padding: 16px 32px;
    background-color: #F00;
    margin-top: 48px;
}

.red {
    color: #F00;
}